{% extends "home/header.html" %}

{% block content %}

<div class="jumbotron" style="background-color:white"><font color="black" >
  <h2>Contact</h2>
  <hr style="border: 1px solid #1f2e2e">
  <p><font size=3> You can reach the BaMMmotif crew by emailing to: <a href="mailto:bammmotif.info@gmail.com?subject=Support Request">bammmotif.info@gmail.com</a> </p>
  <br>
  <h2> AG Soeding </h2>
  <p><font size=3> Max Planck Institut for Biophysical Chemistry </p>
  <p><font size=3> Computational Biology </p>
  <p><font size=3> Am Fassberg 11 </p>
  <p><font size=3> 37077 Göttingen </p>
  <p><font size=3> Germany </p>
  </font>
</div>


{% endblock %}

