{% extends "home/header.html" %}    
{% block content %}
<div class="col-md-4">
 <div class='container-fluid'>


  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Welcome to BaMMmotif server</a><ul>
<li><a class="reference internal" href="#why-bammmotif-server">Why BaMMmotif server?</a></li>
<li><a class="reference internal" href="#how-to-use-bammmotif-server">How to use BaMMmotif server?</a><ul>
<li><a class="reference internal" href="#de-novo-motif-discovery"><em>De novo</em> Motif Discovery</a><ul>
<li><a class="reference internal" href="#input-items">Input items</a></li>
<li><a class="reference internal" href="#advanced-options">Advanced Options</a></li>
<li><a class="reference internal" href="#submission">Submission</a></li>
</ul>
</li>
<li><a class="reference internal" href="#motif-motif-comparison">Motif-Motif Comparison</a></li>
<li><a class="reference internal" href="#motif-scan">Motif Scan</a></li>
<li><a class="reference internal" href="#motif-database">Motif Database:</a><ul>
<li><a class="reference internal" href="#how-to-search-for-a-specific-entry-in-the-database">How to search for a specific entry in the database?</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#how-to-interpret-bamm-results">How to interpret BaMM results?</a><ul>
<li><a class="reference internal" href="#how-do-i-obtain-my-job-results">How do I obtain my job results?</a></li>
<li><a class="reference internal" href="#what-does-the-result-page-show">What does the result page show?</a></li>
<li><a class="reference internal" href="#how-to-interpret-bammmotif-logos">How to interpret BaMMmotif logos?</a></li>
</ul>
</li>
<li><a class="reference internal" href="#command-line-tools">Command line tools</a><ul>
<li><a class="reference internal" href="#peng-motif">PEnG!motif</a></li>
<li><a class="reference internal" href="#bamm-motif">BaMM!motif</a></li>
<li><a class="reference internal" href="#bammscan">BaMMScan</a></li>
<li><a class="reference internal" href="#fdr-analysis">FDR analysis</a></li>
<li><a class="reference internal" href="#how-to-use-these-tools-via-command-lines">How to use these tools via command lines?</a></li>
</ul>
</li>
<li><a class="reference internal" href="#faqs">FAQs</a><ul>
<li><a class="reference internal" href="#how-long-are-the-results-available">How long are the results available?</a></li>
</ul>
</li>
<li><a class="reference internal" href="#citing-and-references">Citing and References</a></li>
<li><a class="reference internal" href="#contact">Contact</a></li>
</ul>
</li>
</ul>

 </div>
</div>
<div class="col-md-8">
	<div class='container-fluid'>
  <div class="section" id="welcome-to-bammmotif-server">
<h1>Welcome to BaMMmotif server<a class="headerlink" href="#welcome-to-bammmotif-server" title="Permalink to this headline"></a></h1>
<div class="section" id="why-bammmotif-server">
<h2>Why BaMMmotif server?<a class="headerlink" href="#why-bammmotif-server" title="Permalink to this headline"></a></h2>
<p id="id1">The BaMMmotif web server enables the user to</p>
<ul class="simple">
<li><ol class="first loweralpha">
<li>train higher-order BaMM models</li>
</ol>
</li>
<li><ol class="first loweralpha" start="3">
<li>search for motif instances in custom sequences</li>
</ol>
</li>
<li><ol class="first loweralpha" start="4">
<li>search for similar motifs in our BaMM databases</li>
</ol>
</li>
<li><ol class="first loweralpha" start="5">
<li>perform keyword searches on our BaMM database</li>
</ol>
</li>
</ul>
</div>
<div class="section" id="how-to-use-bammmotif-server">
<h2>How to use BaMMmotif server?<a class="headerlink" href="#how-to-use-bammmotif-server" title="Permalink to this headline"></a></h2>
<div class="section" id="de-novo-motif-discovery">
<span id="id2"></span><h3><em>De novo</em> Motif Discovery<a class="headerlink" href="#de-novo-motif-discovery" title="Permalink to this headline"></a></h3>
<p id="id3">We developed a new and fast method called <strong>PEnG!motif</strong> for searching motifs (position specific weight matrices,
PWMs) in a set of nucleotide sequences (DNA or RNA). Based on the PWMs discovered by PEnG!motif, we train BaMMs
(Bayesian Markov Models) which take positional inter-dependencies into account and give us more information about
the motifs derived from the sequence set.</p>
<div class="section" id="input-items">
<h4>Input items<a class="headerlink" href="#input-items" title="Permalink to this headline"></a></h4>
<p id="id4"><strong>Job Name</strong> (optional)</p>
<p>You can specify the job name.</p>
<p>By default, a random job ID is generated  so that you can easily search for it later on the “Find My Job” page.</p>
<p><strong>Input Sequences</strong> (required)</p>
<p>Please enter a FASTA formatted file containing DNA sequences that are enriched for a motif which you want to predict
(i.e. peak sequences from ChIP-seq measurements). The sequences need to be of the same length. The maximum file upload
size is limited to 250 Mb for registered users and 2.5 Mb for anonymous users.</p>
<p>You can choose to “Load Example Data” for testing.</p>
<p>Example for FASTA file:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="o">&gt;</span><span class="n">chr5</span>
<span class="n">GATGAGGGGAAGAGAAACTCAGAAGAGTTTGAAGGGCCTGGGAAGCAGGTGTGCATTCTCCTTAAGCTAGCCTGGGCATG</span>
<span class="n">ACGTCATCAAGAATTTTGCTTAAGTGGTTGGGTACAATTGGTGTACACATCAAAGAATGCGGACTTTGGATCAGGTTGGA</span>
<span class="n">GTTGGAACTCCACTGTTTGTCAACCACATGACCCCGGGCAAGTTA</span>
<span class="o">&gt;</span><span class="n">chr17</span>
<span class="n">ATCTCGTAGGAAAGCCCCGCCTCTATCCGCATGGAGGCGGGAATTGCCACGAAGCTCCTGTGGAGGGAGAGGAAGCAGCT</span>
<span class="n">GCGGAAAGCCAATAAGAGTGGGGAATCGATGACGTCAACCAATGGGGACGCGGGGATATTACGGCCAATGAGAATGGAGA</span>
<span class="n">AGGTCCAGGACACGTGGGTGGGGGAAGCTGAGCGCTGAGACCAAG</span>
<span class="o">&gt;</span><span class="n">chr6</span>
<span class="n">AATATGCCTAAATTTCCTCTTTGGGAACGCAAGACTTGCAGAGATGACTCCATGGAGAGCGGACTCTGCCGGCGGGAACT</span>
<span class="n">GGAGTCGTTGGTGACGTCATCCCAGTCTGATCTGTGAAGGGTAGGGCCAGCAGGCAGCACCAAAGTTCCCGTATGCGCGT</span>
<span class="n">TTTCAGTCTTCATTTAGGTCCGAATTCCCGGCATATAAGAATACT</span>
<span class="o">&gt;</span><span class="n">chr6</span>
<span class="n">TTGGCTTGGAGATGTGGCGGGTTGCCACTTCCCTGTGGGTCTCTGCGGCACTCTTCTGCCTGGTGACTGACACCTTGGAA</span>
<span class="n">ATGAAGTTTATGACGTCATCGTTGCGGCTGGCCAATAGAAAAAGCTCCCGCGGAGAGGTGTTCCTTCCCCTTCGACTCAG</span>
<span class="n">CTTCTTCACCCGCGTGAGCGAGCGCGCGCGCGCGGAGGGGGTGGG</span>
<span class="o">&gt;</span><span class="n">chr2</span>
<span class="n">CCCCCAGAGTAGGGAGCGGCGGCACTAGGGGATGTTGCGCATGCGCCATACGCCTGCGCAGAATCGAGTGAGTGGGAGAC</span>
<span class="n">TAGTCAAAAAGGCTGACGTCATCGCACATGTTCTGGTCATGTCTGTGTGGGGGAGACCACGGATTCGGTGCTTTTCGTAA</span>
<span class="n">GGTGTAGAAATGATTGCTCTGAAAGATACGAATTTGTTGGCTACA</span>
<span class="o">&gt;</span><span class="n">chr9</span>
<span class="n">AAGCCCCTACGCTGCACGTAGCTGCTCCAGCTACTGAGCCAAGACTACGCAGACAGTACAAGTCTTATAACAAAGCGGAA</span>
<span class="n">CAAGCCAGATGACGTCATCCCGCTCGCCAAAGCACATCACGTGGTCTCCGCAGCACGTGACCCGTGCCTTCGCCGTAGGT</span>
<span class="n">AAAAGAATGACGCACGTCAGTTCCAGATCGTGCGTTTTACACCCC</span>
</pre></div>
</div>
<p><strong>Search on both strands</strong> (optional)</p>
<p>When checked, the reverse complementary sequences are used for motif search as well.</p>
<p>Select this option when motifs can occur on both strands. Transcription factors and micro RNAs can usually bind on
both strands (in reverse orientation). Deselect if you are searching for directional motifs.</p>
</div>
<div class="section" id="advanced-options">
<h4>Advanced Options<a class="headerlink" href="#advanced-options" title="Permalink to this headline"></a></h4>
<p id="id5"><strong>Model Settings</strong></p>
<p><em>Model Order</em></p>
<p>The model order <em>k</em> defines up to which order the BaMM will be optimized. A zeroth-order BaMM is equivalent to a PWM.
A first-order BaMM model takes dinucleotide probabilities into account. Registered users can learn models up to 8th-
order while anonymous users are limited to forth-order models (due to the computation time and resource).</p>
<p><strong>Background Model</strong></p>
<p>Background model is used for generating background sequences for evaluating the foreground model. By default, the
background model is derived from the trimer frequencies of the positive sequences. If background sequences are provided
by the user, the background model is then derived from the given sequences.</p>
<p><em>Background Order K</em></p>
<p>The background order describes the order of the background BaMM. The default <em>K</em> is 2, which means that the background
model will be derived from the 3-mer frequencies of the background sequences.</p>
<p><em>Background Sequences</em></p>
<p>A FASTA-formatted file with background sequences can be provided in order to learn the background BaMM. These sequences
should reflect the genomic background of the positive input sequences without being enriched for a motif.</p>
<p>If no background sequence file is provided, the background model is learned from the <em>K</em>-mer frequencies of the positive
sequences.</p>
<p><strong>Expectation Maximization Optimization</strong></p>
<p><em>Motif prior probability</em></p>
<p>By default, your initial models are optimized by applying an expectation maximization algorithm.</p>
<p>q-value indicates the prior knowledge about the probability of the sequences from ChIP-seq contains the initial motif.</p>
<p><strong>Motif Position</strong></p>
<p>By selecting this function, it will scan your input sequences with the initial/optimized motifs and find the most
probable site for the motif to occur till a p-value cutoff (determined by the motif score limit).
You will also get the distribution plot indicating the relative position of the motif from the sequence center.</p>
<p><em>Motif score limit</em></p>
<p>The motif score limit defines up to which similarity a motif position on a sequence will be counted as a motif instance.
The higher this score, the fewer the reported motif positions.</p>
<p><strong>Motif Evaluation</strong></p>
<p>By selecting this function, the initial/optimized BaMM model will be evaluated by calculating the false-discovery-rate
(FDR) and sensitivity values, and the area under the sensitivity-FDR curve (AUSFC).</p>
<p>The AUSFC score is a good measure of motif model quality. The AUSFC score is normalised to the range of FDR values on
the x axis, <span class="math">\(log( 0.5 ) − log( 10^{−4} )\)</span>. The AUSFC score has the great advantage that is summarises the
performance of the model for the entire range of FDR values that are relevant in practice, without putting undue
emphasis on any specific region. It can be interpreted as the mean model sensitivity, averaged over the log false
discovery rate.</p>
</div>
<div class="section" id="submission">
<h4>Submission<a class="headerlink" href="#submission" title="Permalink to this headline"></a></h4>
<p id="id6">Submit your job by clicking the submit button at the bottom. This will lead you to a page where you can view your job
status (while the job is running) and the result (when the job is complete).</p>
</div>
</div>
<div class="section" id="motif-motif-comparison">
<h3>Motif-Motif Comparison<a class="headerlink" href="#motif-motif-comparison" title="Permalink to this headline"></a></h3>
<p id="id7">With this function, you can search with your input motif model through the existing databases and find similar motifs.</p>
</div>
<div class="section" id="motif-scan">
<h3>Motif Scan<a class="headerlink" href="#motif-scan" title="Permalink to this headline"></a></h3>
<p id="id8">This function allows you to scan your sequence set for occurrences of an input motif model. You can give an overview of
the motif distribution on the sequence set and a detailed look at motif occurrences.</p>
</div>
<div class="section" id="motif-database">
<h3>Motif Database:<a class="headerlink" href="#motif-database" title="Permalink to this headline"></a></h3>
<p id="id9">In this database, we provide over 450 higher-order models learned from ChIP-seq data for about 100 transcription factors.
The size of our database is consistently growing.</p>
<p>These models are learned by applying BaMM!motif with model order of 2.</p>
<div class="section" id="how-to-search-for-a-specific-entry-in-the-database">
<h4>How to search for a specific entry in the database?<a class="headerlink" href="#how-to-search-for-a-specific-entry-in-the-database" title="Permalink to this headline"></a></h4>
<p id="id10">Follow the link “Motif Database” from the home website and enter the name of your protein target of interest. You will
obtain a list of all database entries which contain your protein name. Details for each entry can be viewed by clicking
the “more…” button. By clicking the “DOWNLOAD MODEL” button, you can download all the plots for the chosen motif model.</p>
</div>
</div>
</div>
<div class="section" id="how-to-interpret-bamm-results">
<h2>How to interpret BaMM results?<a class="headerlink" href="#how-to-interpret-bamm-results" title="Permalink to this headline"></a></h2>
<div class="section" id="how-do-i-obtain-my-job-results">
<span id="id11"></span><h3>How do I obtain my job results?<a class="headerlink" href="#how-do-i-obtain-my-job-results" title="Permalink to this headline"></a></h3>
<p id="id12">You can obtain your job results on the page that you are redirected to after submitting your job. You can also search
for it on the “Find My Job” page with your job ID.</p>
</div>
<div class="section" id="what-does-the-result-page-show">
<h3>What does the result page show?<a class="headerlink" href="#what-does-the-result-page-show" title="Permalink to this headline"></a></h3>
<p id="id13">BaMMmotif outputs a refined model for each seed.
It shows the parameter settings used for obtaining the result.</p>
<p>For each model, the IUPAC code, PWMs for both sense and anti-sense sequences, AUSFC score (see <strong>Motif Evaluation</strong> for
details) and occurrence ratio are shown.</p>
<p>When you click on one motif, or scroll down the page, you will find more details, such as 1st- and 2nd-order sequence
logos, which show the amount of information contributed by each order over and above what is provided by lower orders,
for each oligonucleotide and position.</p>
<p>You will also see three measures for the motif performance, namely, Sensitivity-False Discovery Rate curve,
partial Receiver Operating Characteristic (pROC) curve, Precision-Recall curve and their corresponding
area-under-the curve (AUC value). This hopefully makes it easy for you to estimate the suitablity of a motif model to
predict binding sites in your dataset.</p>
<p>The last plot shows the motif position distribution in your sequence set. If you search on both strands, it will show
your the motif distribution on both strands.</p>
<p>You can download all the models by clicking “DOWNLOAD ALL” button or each individual model by clicking “DOWNLOAD MODEL”.</p>
</div>
<div class="section" id="how-to-interpret-bammmotif-logos">
<h3>How to interpret BaMMmotif logos?<a class="headerlink" href="#how-to-interpret-bammmotif-logos" title="Permalink to this headline"></a></h3>
<p id="id14">In the 0th-order sequence logo, the higher of the four bases on each column is determined by their relative frequencies.
More frequent bases are depicted on top of less frequent bases. Consequently, the consensus sequence can be assembled
from the top bases, while the vertical order of bases in each column corresponds to their order of predominance.</p>
<p>This 0th-order sequence logo was designed to reflect the characteristics of the PWM model and has been widely used.
However, it is not suited to illustrate dependencies between binding site positions. Thus, we generate higher-order
logos for you. In the higher-order logos, the height of both columns and <em>k</em>-mers corresponds to the contribution to the
information content that is not yet described in a lower order, in other words, the information you can gain by taking
into consideration of the dependencies between positions in the motif. Note that <em>k</em>-mers can exhibit negative
contributions to the information content.</p>
</div>
</div>
<div class="section" id="command-line-tools">
<h2>Command line tools<a class="headerlink" href="#command-line-tools" title="Permalink to this headline"></a></h2>
<p id="id15">Here are the stand-alone tools which can be downloaded from our Github repository and used via command lines:</p>
<div class="section" id="peng-motif">
<h3>PEnG!motif<a class="headerlink" href="#peng-motif" title="Permalink to this headline"></a></h3>
<p id="pengmotif">The command line version of PEnG!motif can be downloaded from our GitHub <a class="reference external" href="https://github.com/soedinglab/PEnG-motif">PEnGmotif repository</a>.</p>
</div>
<div class="section" id="bamm-motif">
<h3>BaMM!motif<a class="headerlink" href="#bamm-motif" title="Permalink to this headline"></a></h3>
<p id="bammmotif">The command line version of BaMM!motif can be downloaded from our GitHub <a class="reference external" href="https://github.com/soedinglab/BaMMmotif2">BaMMmotif repository</a>.</p>
</div>
<div class="section" id="bammscan">
<h3>BaMMScan<a class="headerlink" href="#bammscan" title="Permalink to this headline"></a></h3>
<p id="id16">The command line version of BaMMScan can be downloaded from our GitHub <a class="reference external" href="https://github.com/soedinglab/BaMMmotif2">BaMMmotif repository</a>.</p>
</div>
<div class="section" id="fdr-analysis">
<h3>FDR analysis<a class="headerlink" href="#fdr-analysis" title="Permalink to this headline"></a></h3>
<p id="fdr">The command line version of FDR can be downloaded from our GitHub <a class="reference external" href="https://github.com/soedinglab/BaMMmotif2">BaMMmotif repository</a>.</p>
</div>
<div class="section" id="how-to-use-these-tools-via-command-lines">
<h3>How to use these tools via command lines?<a class="headerlink" href="#how-to-use-these-tools-via-command-lines" title="Permalink to this headline"></a></h3>
<p id="id17">A detailed description of how to use the command line tool can be found in the README section of the respective GitHub
repository.</p>
</div>
</div>
<div class="section" id="faqs">
<h2>FAQs<a class="headerlink" href="#faqs" title="Permalink to this headline"></a></h2>
<div class="section" id="how-long-are-the-results-available">
<span id="id18"></span><h3>How long are the results available?<a class="headerlink" href="#how-long-are-the-results-available" title="Permalink to this headline"></a></h3>
<p id="id19">Currently, the results will be kept for at least 4 weeks for unregistered users.</p>
</div>
</div>
<div class="section" id="citing-and-references">
<h2>Citing and References<a class="headerlink" href="#citing-and-references" title="Permalink to this headline"></a></h2>
<p id="id20">Please cite our paper: <a class="reference external" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5291271/">BaMMmotif paper</a> .DOI: 10.1093/nar/gkw521</p>
</div>
<div class="section" id="contact">
<h2>Contact<a class="headerlink" href="#contact" title="Permalink to this headline"></a></h2>
<p id="id21">bamm(at)mpibpc(dot)mpg(dot)de</p>
</div>
</div>


    
    {% endblock %}
    
