{% extends "home/header.html" %}
{% load static %}
{% block content %}

<div class="jumbotron" style="background-color:white"><font color="black">
  <h2>Download BaMMmotif command line tool</h2>
  <hr style="border: 1px solid #1f2e2e">
      <div id="{{result.jobID}}">
        <table>
            <p> BaMMmotif is available as command line tool.</p>
            <p> You can either download one of the precompiled versions for Linux and MacOS or the source code from our <a href="https://github.com/soedinglab/BaMMmotif2" > GitHub Repository</a>. Further information about the usage of the command line tool is provided in the repository's readme section. </p>
            
        </table>
    </div>
</div>





{% endblock %}

