<!DOCTYPE html>
<html lang="en">

<head>
  <title>BaMMmotif</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/bamm_styles.css' %}" type = "text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/nhpup_1.1.js' %}"></script>
	<script src="{% static 'js/bamm.js' %}"> </script>
	<script src="{% static 'js/bamm_jq.js' %}"> </script>

  <link rel="shortcut icon" href="{%  static 'img/BAMM_Glyphicon_32.png' %}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">

  <style>
          html,
          body {
            height:100%
          }
  </style>

</head>

<body class="body" style="background-color:white">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">
      <div class="col-sm-12">
          <ul class="nav nav-tabs navbar-fixed-top" role="tablist" style="background-color:white">
            <li>
              <a href="/home/">Home</a>
            </li>
            <li>
                <a href="/results/">Find my job</a>
            </li>
            <li>
              <a href="{% url 'links' %}">
                Links
              </a>
            </li>
            <li>
              <a rel="external noopener" target="_blank" href="http://bammserver.readthedocs.io/en/latest">
                Documentation
              </a>
            </li>
            <li>
              <a rel="external noopener" target="_blank" href="http://www.mpibpc.mpg.de/soeding">
                Söding lab
              </a>
            </li>
          </ul>
      </div>
    </div>
    <div class="row">
        <p><br></p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br>

          <a href="/home/">
            <span>
              <img src="{% static 'img/BaMMmotif.png' %}" class="responsive-img" style='max-height:190px;' alt="logo">
            </span>
          </a>

        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

    <footer>
      <div class="container-fluid" style='margin-left:15px'>
        <p style="color:#1f2e2e">
          <a href='/contact/'>
              Contact
          </a>
          <a href='/imprint/'>
              Imprint
          </a>
        </p>
      </div>
  </footer>

</body>

</html>
