<!DOCTYPE html>
<html lang="en">

<head>
        <title>BaMMmotif</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type = "text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/nhpup_1.1.js' %}"> </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        


    <link rel="shortcut icon" href="{%  static 'img/BAMM_Glyphicon_32.png' %}">
		
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        
        <style type="text/css">
                html,
                body {
                  height:100%
                }
        </style>
</head>

<body class="body" style="background-color:white">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">
      <div class="col-sm-12">
      <center>
      <ul class="nav nav-tabs navbar-fixed-top" role="tablist" style="background-color:white">
        <li role="navigation"><a href="/home/"><font color="#1f2e2e">Home</font></a></li>
        <li role="nativation">  
            <a href="/results/" ><font color="#1f2e2e">Find My Job</font></a></p>
        </li>
        <li role="navigation"><a href="/aboutBaMMmotif/"><font color="#1f2e2e">About BaMMmotif</font></a></li>
        <li role="navigation"><a href="/documentation/"><font color="#1f2e2e">Documentation</font></a></li>
        <li role="navigation"><a href="{% url 'download' %}"><font color="#1f2e2e">Download</font></a></li>
        <li role="navigation"><a rel="external noopener" target="_blank" href="http://www.mpibpc.mpg.de/soeding"><font color="#1f2e2e">Söding Lab</font></a></li>
      </ul>  
      </center>
      </div>
    </div>
    <div class="row">
        <p><font color="white"><br></font></p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <br>
          <a href="/home/"><span><img src="{% static 'img/BaMMmotif.png' %}" class="responsive-img" style='max-height:100px;' alt="logo"></span></a>
         <br>
      </div> 

      <!--<div class="col-sm-1">
        <p align="right">
          {% if user.is_authenticated %}
            <font color="#1f2e2e">Hi {{ user.username }}!</font>
            <a href="{% url 'logout' %}"><font color="#1f2e2e">logout</font></a>
          {% else %}
            <a href="{% url 'login' %}"><font color="#1f2e2e">login</font></a>
          {% endif %}
        </p>
      </div>-->
					
              
      </div>

                <div class="row">
                  <div class="col-sm-12">
                            <div class="container">
                           {% block content %}
                           {% endblock %}
                           </div>
                </div>
        </div>
        <footer>
                <div class="container-fluid" style='margin-left:15px'>
                        <p><a href='/contact/'><font color="#1f2e2e">Contact</font></a>
                          <a href='/imprint/'><font color="#1f2e2e">Imprint</font></a></p>
                </div>
        </footer>

</body>

</html>

