{% extends "home/header.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class='container-fluid'>
                    <center>
                        <img src="{% static 'img/Prediction_new2.png' %}" class="responsive-img"
                             style='max-height:180px;' alt="logo">
                    </center>
                    <div class="jumbotron" style="background-color:white"><font color="black">

                        <center>
                            <a class="btn btn-primary btn-lg workflow_button" href="{% url 'one_step_denovo' %}"
                        	>De-novo motif discovery
                            </a></center>

                        <hr style="border: 1px solid #1f2e2e">
			<p class="tool_description">Discover motifs enriched in your input sequence set</p>
                        <!--You can either start from a pwm file, known binding sites, or let PengMotif do the work for you...</p>-->

                    </font>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class='container-fluid'>
                    <center>
                        <img src="{% static 'img/Discovery_new2.png' %}" class="responsive-img"
                             style='max-height:180px;' alt="logo">
                    </center>
                    <div class="jumbotron" style="background-color:white"><font color="black">


                            <!-- Button trigger modal -->
                          <center>
                            <a class="btn btn-primary btn-lg workflow_button" href="{% url 'run_bamm_scan' %}">
			                           Motif scan
                            </a>
                          </center>

                        <hr style="border: 1px solid #1f2e2e">
			<p class="tool_description"> Scan your input sequence set for matches of an input or database
                            motif model</p>

                    </font>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class='container-fluid'>
                    <center>
                        <img src="{% static 'img/database_new2.png' %}" class="responsive-img"
                             style='max-height:180px;' alt="logo">
                    </center>
                    <div class="jumbotron" style="background-color:white"><font color="black">

                        {% comment %}
                        <center><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_BETA"
                                   style="background-color:#1f2e2e">
                            Motif database
                        </a></center>
                        {% endcomment %}

                        <center><a class="btn btn-primary btn-lg workflow_button" href='/database/' role="button">Motif database</a></center>
                        <hr style="border: 1px solid #1f2e2e">
			<p class="tool_description">Search and browse our databases with hundreds of higher-order models learnt on ChIP-seq peaks from GTRD and ReMap.</p>
                    </font>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class='container-fluid'>
                    <center>
                        <img src="{% static 'img/compare_new2.png' %}" class="responsive-img"
                             style='max-height:180px;' alt="logo">
                    </center>
                    <div class="jumbotron" style="background-color:white"><font color="black">

                        {% comment %}
                        <center>
                            <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_BETA"
                               style="background-color:#1f2e2e">
                                Motif-motif comparison
                            </a>
                        </center>
                        {% endcomment %}
                        <center>
                        <a class="btn btn-primary btn-lg workflow_button" href="{% url 'run_compare' %}"
                        	>Motif-motif comparison
                        </a></center>



                        <hr style="border: 1px solid #1f2e2e">
                        <p class="tool_description">Search with your input model for matching entries in our database</p>

                    </font>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
