<div class="alert alert-warning">
  The best performing motif seed is of low complexity. While some proteins do recognize low complexity motifs, it is possible that this data set is not optimally preprocessed. 
  <p>Please consider these two options:</p>
  <ol>
	  <li>Use the <a href="{% url 'peng_predict' %}">manual seeding</a> to find more promising motif candidates.</li>
	  <li>Check our <a href="http://bammserver.readthedocs.io/en/latest/misc.html#how-do-i-prepare-my-chip-seq-data">recommendations</a> for preparing a ChIP-seq dataset for motif analysis.</li>
  <ol>
</div>
