[submodule "tools/bamm"]
	path = tools/bamm
	url = ssh://git@ssh.github.com:443/soedinglab/bamm-private.git
[submodule "tools/suite"]
	path = tools/suite
	url = ssh://git@ssh.github.com:443/soedinglab/bamm-suite.git
