version: '2'

services:
  db:
    image: mysql:latest
    command: mysqld --user=root
    volumes:
      - ${MYSQL_DB_DIR}:/var/lib/mysql
    ports:
      - "13306:3306"
    environment:
      MYSQL_DATABASE: webserver
      MYSQL_USER: bammmotif_admin
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      bamm_net:
        ipv4_address: ${NETWORK_PREFIX}.2

  redis_celery:
    image: redis:latest
    command: redis-server --appendonly yes
    volumes:
      - ${REDIS_DB_DIR}:/data
    networks:
      bamm_net:
        ipv4_address: ${NETWORK_PREFIX}.3

  celery:
    build: .
    command: celery --app=webserver.celery:app worker --loglevel=DEBUG
    user: ${BAMM_USER_UID}
    volumes:
      - ${DB_DIR}:/code/BaMM_webserver/DB/
      - ${WEBSERVER_DIR}:/code
      - ${MEDIA_DIR}:/code/media
      - ${MOTIF_DB_DIR}:/motif_db
      - ${LOG_DIR}:/logs
    links:
      - redis_celery
      - db
    networks:
      bamm_net:
        ipv4_address: ${NETWORK_PREFIX}.4

  web:
    build: .
    command: ./run_web.sh
    user: ${BAMM_USER_UID}
    env_file:
      - .env
    volumes:
      - ${DB_DIR}:/code/BaMM_webserver/DB/
      - ${WEBSERVER_DIR}:/code
      - ${MEDIA_DIR}:/code/media
      - ${MOTIF_DB_DIR}:/motif_db
      - ${LOG_DIR}:/logs
    ports:
      - "10080:10080"
      - "587:587"
      - "465:465"
    links:
      - db
      - redis_celery
      - celery
    networks:
      bamm_net:
        ipv4_address: ${NETWORK_PREFIX}.5

networks:
  bamm_net:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: ${NETWORK_PREFIX}.0/24
        gateway: ${NETWORK_PREFIX}.1
