{% extends "home/header.html" %}

{% block content %}

    <div class="container-fluid">

        <div class="jumbotron container-fluid" style="background-color:white"><font color="black">
            <h2> De-novo Motif Discovery </h2>
            <hr style="border: 1px solid #1f2e2e">
            <div class='container-fluid'>

                <script>
                    function Hide_motifInit() {
                        if (document.getElementById('id_Motif_Initialization').options[document.getElementById('id_Motif_Initialization').selectedIndex].value == "PEnGmotif") {
                            document.getElementById('id_Motif_InitFile').style.display = 'none';
                            document.getElementById('id_Motif_Init_File_Format').style.display = 'none';
                        } else {
                            document.getElementById('id_Motif_InitFile').style.display = '';
                            document.getElementById('id_Motif_Init_File_Format').style.display = '';
                        }
                    }

                    window.onload = function () {
                        document.getElementById('id_Motif_Initialization').default = Hide_motifInit;
                        document.getElementById('id_Motif_Initialization').onchange = Hide_motifInit;
                    };
                </script>


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <p><label for="id_job_name"><a class "testpup"
                        onmouseover="nhpup.popup($('#job_name_info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#job_name"
                                style="color:black"></span></a> Job Name:</label></p>
                    <p class="indent" style="padding-left: 1.8em"><input id="id_job_name" maxlength="50" name="job_name"
                                                                         type="text" placeholder="i.e: My Job #1"/></p>

                    {% if mode == 'example' %}
                        <p><label for="id_Input_Sequences"><a class "testpup"
                            onmouseover="nhpup.popup($('#InputSequence_Info').html(),{'width':400});" ><span
                                    class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                    style="color:black"></span></a> Input Sequences:</label></p>
                        <p class="indent" style="padding-left: 1.8em"> Example Data </p>
                    {% else %}
                        <p><label for="id_Input_Sequences"><a class "testpup"
                            onmouseover="nhpup.popup($('#InputSequence_Info').html(),{'width':400});" ><span
                                    class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                    style="color:black"></span></a> Input Sequences:</label></p>
                        <p class="indent" style="padding-left: 1.8em"><input id="id_Input_Sequences"
                                                                             name="Input_Sequences" type="file"
                                                                             required/></p>
                        <p>  &emsp;<a href="{% url 'run_bamm' mode="example" %}" role="button"> <span
                            class="glyphicon glyphicon-play-circle" aria-hidden="true"> Load Example Data </span></a>
                        </td>
                    {% endif %}


                    <p><label for="id_reverse_Complement"><a class "testpup"
                        onmouseover="nhpup.popup($('#ReverseComplement_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a>
                        Search on both strands:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                            id="id_reverse_Complement" name="reverse_Complement" type="checkbox" checked/></font></p>


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
                         style="background-color:white"><font color="black">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne" style="background-color:white"><font
                                    color="black">
                                <h2 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne"
                                       style="background-color:white"><font color="black">
                                        <h3><span class="glyphicon glyphicon-menu-down" aria-hidden="true"
                                                  style="color:black"></span> Advanced Options </h3>
                                    </a>
                                </h2>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne" style="background-color:white"><font color="black">
                                <div class="panel-body">

                                    <h3> Model Settings:</h3>

                                    <p class="indent" style="padding-left: 1.8em"><label for="id_model_Order"><a class
                                        "testpup" onmouseover="nhpup.popup($('#ModelOrder_Info').html(),{'width':400});"
                                        ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                               style="color:black"></span></a> Model Order:</label><font
                                            color="#1f2e2e">
                                        {% if user.is_authenticated %}
                                            &nbsp;&nbsp;
                                            <input id="id_model_Order" min="0" max="8" name="model_Order" type="number"
                                                   value="2" required/>
                                        {% else %}
                                            &nbsp;&nbsp;
                                            <input id="id_model_Order" min="0" max="4" name="model_Order" type="number"
                                                   value="2" required/>
                                        {% endif %}
                                    </font></p>

                                    <p class="indent" style="padding-left: 1.8em"><label for="id_extend"><a class
                                        "testpup" onmouseover="nhpup.popup($('#Extend_Info').html(),{'width':400});"
                                        ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                               style="color:black"></span></a> add flanking positions:</label><font
                                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_extend" min="0" max="10"
                                                                               name="extend" type="number" value="0"
                                                                               required/></font></p>
                                    <br>
                                    <h3> Motif Initialization:</h3>

                                    {% if mode == 'example' %}

                                        <p class="indent" style="padding-left: 1.8em"><label
                                                for="id_Motif_Initialization"><a class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitialization_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif Initialization:</label><font
                                                color="#1f2e2e">
                                        <p class="indent" style="padding-left: 1.8em"> Custom File </font></p>
                                        <p class="indent" style="padding-left: 1.8em"><label for="id_Motif_InitFile"><a
                                                class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitFile_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif InitFile:</label>
                                        <p class="indent" style="padding-left: 1.8em"> Example Motif </p>
                                        <p class="indent" style="padding-left: 1.8em"><label
                                                for="id_Motif_Init_File_Format"><a class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitFileFormat_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif Init File Format:</label><font
                                                color="#1f2e2e"> <p class="indent" style="padding-left: 1.8em">PWM
                                        </font></p>

                                    {% else %}

                                        <p class="indent" style="padding-left: 1.8em"><label
                                                for="id_Motif_Initialization"><a class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitialization_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif Initialization:</label><font
                                                color="#1f2e2e">
                                        <p class="indent" style="padding-left: 1.8em"><select
                                                id="id_Motif_Initialization" name="Motif_Initialization" required
                                                onchange="Hide()">
                                            <option value="CustomFile">Custom File</option>
                                            <option value="PEnGmotif" selected="selected">PEnGmotif</option>
                                        </select></font></p>

                                        <p class="indent" style="padding-left: 1.8em"><label
                                                for="id_Motif_Init_File_Format"><a class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitFileFormat_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif Init File Format:</label><font
                                                color="#1f2e2e">
                                        <p class="indent" style="padding-left: 1.8em"><select
                                                id="id_Motif_Init_File_Format" name="Motif_Init_File_Format" required>
                                            <option value="PWM" selected="selected">PWM</option>
                                            <option value="BindingSites">BindingSites</option>
                                            <option value="BaMM">BaMM</option>
                                        </select></font></p>

                                        <p class="indent" style="padding-left: 1.8em"><label for="id_Motif_InitFile"><a
                                                class "testpup"
                                            onmouseover="nhpup.popup($('#MotifInitFile_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   style="color:black"></span></a> Motif InitFile:</label>
                                        <p class="indent" style="padding-left: 1.8em"><input id="id_Motif_InitFile"
                                                                                             name="Motif_InitFile"
                                                                                             type="file"/></p>

                                        <p lass="indent" style="padding-left: 1.8em"><label for="id_bgModel_File"><a
                                                class "testpup"
                                            onmouseover="nhpup.popup($('#bgModel_File_Info').html(),{'width':400});"
                                            ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                                   onmouseover="#bgModel_File" style="color:black"></span> </a>Motif
                                            Background File: </label>
                                        <p class="indent" style="padding-left: 1.8em"><input id="id_bgModel_File"
                                                                                             name="bgModel_File"
                                                                                             type="file"/></p>

                                    {% endif %}

            <br>
            <h3> Background Model: </h3>

            <p class="indent" style="padding-left: 1.8em"><label for="id_background_Order"><a class "testpup"
                onmouseover="nhpup.popup($('#BackgroundOrder_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a>
                Background Order:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_background_Order" min="0"
                                                                                  max="8" name="background_Order"
                                                                                  type="number" value="2"
                                                                                  required/></font></p>

            <p class="indent" style="padding-left: 1.8em"><label for="id_Background_Sequences"><a class "testpup"
                onmouseover="nhpup.popup($('#BackgroundSequence_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a>
                Background Sequences :</label>
            <p class="indent" style="padding-left: 1.8em"><input id="id_Background_Sequences"
                                                                 name="Background_Sequences" type="file"/></p>

            <br>
            <h3> Expectation Maximization Optimization: </h3>

            <p class="indent" style="padding-left: 1.8em"><label for="id_q_value"><a class "testpup"
                onmouseover="nhpup.popup($('#EMq_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a> 
                Motif prior probability:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_q_value" min="0.01" max="1"
                                                                         name="q_value" type="number" value="0.9"
                                                                         step="0.01"/></font></p>

            <br>
            <h3> Motif Positions: </h3>

            <p class="indent" style="padding-left: 1.8em"><label for="BaMMScan"><a class "testpup"
                onmouseover="nhpup.popup($('#BaMMScan_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a> Motif
                Positions:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_score_Seqset" name="score_Seqset"
                                                                           type="checkbox" checked/></font></p>

            <p class="indent" style="padding-left: 1.8em"><label for="id_score_Cutoff"><a class "testpup"
                onmouseover="nhpup.popup($('#score_Cutoff_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a> Motif score
                limit:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_score_Cutoff" name="score_Cutoff"
                                                                       type="number" min="0.01" max="3.00" value="0.01"
                                                                       step="0.01"/></font></p>


            <br>
            <h3> Motif Evaluation: </h3>

            <p class="indent" style="padding-left: 1.8em"><label for="id_FDR"><a class "testpup"
                onmouseover="nhpup.popup($('#FDR_Info').html(),{'width':400});" ><span
                        class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a> Motif
                Evaluation:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_FDR" name="FDR" type="checkbox"
                                                                            checked/></font></p>


        </div>
      </div>
    </div>

    <hr style="border: 1px solid #1f2e2e">
    <p>
        <button class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e"><font
                color="white">BaMM!</font></button>
        &emsp; <a href="{% url 'result_detail' pk='293aae88-6e1e-48ba-ad87-19e7304e0393' %}"  role="button"> <span
            class="glyphicon glyphicon-play-circle" aria-hidden="true"> View Example Result </span></a>
    </p>
    </form>

    </div>
    </div>

    <div class="modal fade" id="job_name_info" tabindex="-1" role="dialog" aria-labelledby="job_name_info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">You can give your job a name to better distinguish between several runs.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="InputSequence_Info" tabindex="-1" role="dialog" aria-labelledby="InputSequence_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">The Input Sequence File needs to be of Fasta Format.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BackgroundSequence_Info" tabindex="-1" role="dialog"
         aria-labelledby="BackgroundSequence_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Insert a file of sequences that reflect the genomic background of your input
                            sequences. Alternatively the genomic background is estimated from your input sequence
                            set.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MotifInitialization_Info" tabindex="-1" role="dialog"
         aria-labelledby="MotifInitialization_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Please select if you want PEnGmotif be in charge of the Motif Initialization
                            or provide a custom Initialization File. The initialization file can be a list of binding sites, a PWM or
                            BaMM file.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MotifInitFile_Info" tabindex="-1" role="dialog" aria-labelledby="MotifInitFile_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">If you have a list of binding sites, a PWM or a BaMM model which you want to refine insert it
                            here. Alternatively you can leave this empty and PEnGmotif will seed your input
                            sequence set.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MotifInitFileFormat_Info" tabindex="-1" role="dialog"
         aria-labelledby="MotifInitFileFormat_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Please select the file format of your provided motif Initialization. This
                            option is only necessary when providing a custom MotifInitialization.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelOrder_Info" tabindex="-1" role="dialog" aria-labelledby="ModelOrder_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">The Model Order describes the maximal higher Order contribution. The default is 2. A model Order of 0 corresonds to a PWM
                            model. </p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ReverseComplement_Info" tabindex="-1" role="dialog"
         aria-labelledby="ReverseComplement_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> When checked, the reverse complementary sequences will used as well for
                            motif search.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Extend_Info" tabindex="-1" role="dialog" aria-labelledby="Extend_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Extends the motif by adding uniformly initialized positions to the left
                            and right of the initialization. The number corresponds to the amount of nucleotides added to either side of the original motif.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FDR_Info" tabindex="-1" role="dialog" aria-labelledby="FDR_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">When checked, the a false discovery rate estimation will be triggered to evaluate motif performance.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mFold_Info" tabindex="-1" role="dialog" aria-labelledby="mFold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> The number of negative sequences as multiple of positive sequences used
                            during FDR calculation.
                            The default is 5.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cvFold_Info" tabindex="-1" role="dialog" aria-labelledby="cvFold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Number of cross-validation folds during FDR calculation.
                            The default is 5.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BackgroundOrder_Info" tabindex="-1" role="dialog"
         aria-labelledby="BackgroundOrder_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Order of background model should not exceed order of motif model. If
                            searching for a short motif ( up to 4 nucleotides ), the backrgound order should be reduced.
                            Otherwise the motif may already be picked up in the background model and therefore not be
                            treated as significantly enriched motif in the positive search sequences. For longer motifs
                            higher order background models can lead to more precise results. Default is 1 in order to be
                            compatible with short motifs.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FDRSamplingOrder_Info" tabindex="-1" role="dialog"
         aria-labelledby="FDRSamplingOrder_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Order of kmer for sampling negative sets during FDR calculation. The default
                            is 2.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EM_Info" tabindex="-1" role="dialog" aria-labelledby="EM_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> When checked, Expectation Maximization Optimization of Initial Motif will be
                            triggered.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EMq_Info" tabindex="-1" role="dialog" aria-labelledby="EMq_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Prior probability for a positive sequence to contain a motif. The default is
                            0.9 which is the expected probability of a successfull ChIPseq experiment.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EMepsilon_Info" tabindex="-1" role="dialog" aria-labelledby="EMepsilon_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> The EM algorithm is deemed to be converged when the sum over the
                            absolute differences in BaMM probabilities from successive EM rounds
                            is smaller than epsilon. The default is 0.001</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EMmaxIter_Info" tabindex="-1" role="dialog" aria-labelledby="EMmaxIter_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Limit the number of EM iterations.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MMcompare_Info" tabindex="-1" role="dialog" aria-labelledby="MMcompare_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">When checked, the inserted Motif InitFile will be compared to our BaMMmotif
                            Database to find similarities.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="db_match_p_value_cutoff_Info" tabindex="-1" role="dialog"
         aria-labelledby="db_match_p_value_cutoff_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">The p-value limit will be used to define a threshold for motif comparisons
                            between the inserted model and the database. </p>
                    </font>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="score_Cutoff_Info" tabindex="-1" role="dialog"
         aria-labelledby="db_match_p_value_cutoff_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">The Motif Score Limit defines up to which similarity a motif position on a sequence will be called as motif instance. The higher this value, the lower the number of reported motif positions.  </p>
                    </font>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="BaMMScan_Info" tabindex="-1" role="dialog"
         aria-labelledby="db_match_p_value_cutoff_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">When checked, a motif distribution plot is generated to visualize localization of the motif in the input seqeunces.  </p>
                    </font>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="bgModel_File_Info" tabindex="-1" role="dialog"
         aria-labelledby="db_match_p_value_cutoff_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Only needed when providing a BaMM model as initialization. Enter the background model file which belongs to the BaMM model provided as initialization.  </p>
                    </font>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

