{% extends "home/header.html" %}

{% block content %}


<div class="container-fluid" >

<div class="jumbotron container-fluid" style="background-color:white"><font color="black">
  <h2> Motif Occurrences </h2>
  <hr style="border: 1px solid #1f2e2e">
  <div class='container-fluid'>


   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <p><label for="id_job_name"><a class "testpup" onmouseover="nhpup.popup($('#job_name_info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#job_name" style="color:black"></span></a> Job Name:</label> </p> <p class="indent" style="padding-left: 1.8em"><input id="id_job_name" maxlength="50" name="job_name" type="text" placeholder="i.e: My Job #1" /></p>

    {% if type == "FileSize" %}
      {% if user.is_authenticated %}
        <p><font color="red"> Please keep file size under 250Mb.</font> </p>  
      {% else %}
        <p><font color="red">  Please keep file size under 2.5Mb or login for larger upload size.</font> </p>  
      {% endif %}
    {% endif %}

    <p><label for="id_Input_Sequences"><a class "testpup" onmouseover="nhpup.popup($('#InputSequence_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Input Sequences:</label> </p> <p class="indent" style="padding-left: 1.8em"><input id="id_Input_Sequences" name="Input_Sequences" type="file" required /></p>
   
    {% if type == "Fasta" %}
    <p><font color="red">The provided Input Sequence File does not match the expected format.</font> </p>  
    {% endif %}
   
    <p ><label for="id_Motif_InitFile"><a class "testpup" onmouseover="nhpup.popup($('#MotifInitFile_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Motif InitFile: </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_Motif_InitFile" name="Motif_InitFile" type="file" /></p>
    <p>   &emsp;<a href="/database" role="button"> <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> select from Database </span></a></p>
    
    {% if type == "Init" %}
    <p ><font color="red"> The provided Motif Initialization File does not match the expected format. Please select correct Inputformat.</font></p>  
    {% endif %}

    <p ><label for="id_Motif_Init_File_Format"><a class "testpup" onmouseover="nhpup.popup($('#MotifInitFileFormat_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Motif Init File Format:</label><font color="#1f2e2e"> <p class="indent" style="padding-left: 1.8em"> <select id="id_Motif_Init_File_Format" name="Motif_Init_File_Format" required>
    <option value="PWM" selected="selected">PWM</option>
    <option value="BaMM">BaMM</option>
    </select></font></p>

<p ><label for="id_bgFile"><a class "testpup" onmouseover="nhpup.popup($('#bgFile_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span> </a>bg File: </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_Motif_InitFile" name="bg_File" type="file" /></p>


  </div>
  <hr style="border: 1px solid #1f2e2e">
  <p>
    <button class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e"><font color="white">BaMM!</font></button></p>
  </p>
  </form>
</div>
</div>

<div class="modal fade" id="job_name_info" tabindex="-1" role="dialog" aria-labelledby="job_name">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">You can give your job a name to better distinguish between several runs.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="InputSequence_Info" tabindex="-1" role="dialog" aria-labelledby="InputSequence_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">The Input Sequence File needs to be of Fasta Format.</p>
        </font>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="MotifInitFile_Info" tabindex="-1" role="dialog" aria-labelledby="MotifInitFile_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">If you already have a PWM or BaMM model which you want to refine insert this file here. Alternatively you can leave this empty and PEnG!motif will seed your input sequence set.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MotifInitFileFormat_Info" tabindex="-1" role="dialog" aria-labelledby="MotifInitFileFormat_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
           <p  align="justify">Please select the file format of your provided motif Initialization. This option is only necessary when providing a custom MotifInitialization.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bgFile_Info" tabindex="-1" role="dialog" aria-labelledby="bgFile_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
           <p  align="justify">Please select the background file belonging to the selected BaMM file. This option is only necessary when providing a custom BaMM File Initialization.</p>
        </font>
      </div>
    </div>
  </div>
</div>

{% endblock %}

