{% extends "home/header.html" %}

{% block content %}


<div class="container-fluid" >
     
  <div class="row">  
  <div class="jumbotron container-fluid" style="background-color:white"><font color="black">
        <h3> 1.Data Upload  <font color="grey"> > 2.BaMM!</font></h3>
            <hr style="border: 1px solid #1f2e2e">

   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p><label for="id_Input_Sequences"><a href="#" data-toggle="modal"  data-target="#myModal_1" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Input Sequences:
   </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_Input_Sequences" name="Input_Sequences" type="file" required /></p>
    <br>
   	<br>
   	<p><a class="btn btn-primary btn-lg" href="/database" role="button" style="border:0px; background-color:#1f2e2e"><font color="white"> SELECT MODEL FROM DB </a></font> or upload custom file:</p> 
   <br>
   	<p><label for="id_Motif_InitFile"><a href="#" data-toggle="modal"  data-target="#myModal_2" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Model File:
    </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_Motif_InitFile" name="Motif_InitFile" type="file" /></p>
    
    <p><label for="id_Motif_Init_File_Format"><a href="#" data-toggle="modal"  data-target="#myModal_3" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Model File Format:
    </label><font color="#1f2e2e">  <p class="indent" style="padding-left: 1.8em"><select id="id_Motif_Init_File_Format" name="Motif_Init_File_Format" required>
        <option value="PWM" selected="selected">PWM</option>
        <option value="BaMM">BaMM</option>
        </select></font> </p>

     <br>  
                 <hr style="border: 1px solid #1f2e2e"> 
    <p><a class="btn btn-primary btn-lg" href="/job/data_discover" role="button" style="border:0px; background-color:#1f2e2e"><font color="white">RESET</a></font>
   <button class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e"><font color="white">NEXT</font></button></p>
  </form>

</div>
</div>
</div>


<div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel_1"><font color="#0B0719"> Sequence File </font></h4>
      </div>
      <div class="modal-body">
        <font color="#0B0719">
        The Sequence File needs to be of Fasta Format. These are the Sequences in which Model Positions will be predicted.
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel_2"><font color="#0B0719"> Model File </font></h4>
      </div>
      <div class="modal-body">
        <font color="#0B0719">
            If you already have a PWM or BaMM model which you want to search for, please enter it here. Alternatively you can select a BaMM model from our Database.
        </font>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel_3"><font color="#0B0719"> Model File Format </font></h4>
      </div>
      <div class="modal-body">
        <font color="#0B0719">
           Please select the file format of your provided Model File. The available options are PWM or BaMM format.
        </font>
      </div>
    </div>
  </div>
</div>
{% endblock %}

