{% extends "home/header.html" %}

{% block content %}


<div class="container-fluid" >

<div class="jumbotron container-fluid" style="background-color:white"><font color="black">
  <h2> Motif Motif Comaprison </h2>
  <hr style="border: 1px solid #1f2e2e">
  <div class='container-fluid'>


   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <p><label for="id_job_name"><a class "testpup" onmouseover="nhpup.popup($('#job_name_info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#job_name" style="color:black"></span></a> Job Name:</label> </p> <p class="indent" style="padding-left: 1.8em"><input id="id_job_name" maxlength="50" name="job_name" type="text" placeholder="i.e: My Job #1" /></p>

    <p ><label for="id_Motif_InitFile"><a class "testpup" onmouseover="nhpup.popup($('#MotifInitFile_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#Motif_InitFile"  style="color:black"></span></a> Motif InitFile: </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_Motif_InitFile" name="Motif_InitFile" type="file" /></p>
   
    <p>  &emsp; <a href="{% url 'compare_example' %}" role="button"> <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> Example Data </span></a> </td>
    
    {% if type == "Init" %}
    <p ><font color="red"> The provided Motif Initialization File does not match the expected format. Please select correct Inputformat.</font></p>  
    {% endif %}

    <p ><label for="id_Motif_Init_File_Format"><a class "testpup" onmouseover="nhpup.popup($('#MotifInitFileFormat_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#Motif_Init_File_Format" style="color:black"></span></a> Motif Init File Format:</label><font color="#1f2e2e"> <p class="indent" style="padding-left: 1.8em"> <select id="id_Motif_Init_File_Format" name="Motif_Init_File_Format" required>
    <option value="PWM" selected="selected">PWM</option>
    <option value="BaMM">BaMM</option>
    </select></font></p>

    <p ><label for="id_bgModel_File"><a class "testpup" onmouseover="nhpup.popup($('#bgModel_File_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#bgModel_File" style="color:black">
    </span> </a>Motif Background File: </label>  <p class="indent" style="padding-left: 1.8em"><input id="id_bgModel_File" name="bgModel_File" type="file" /></p>


    <p><label for="id_model_Order"><a class "testpup" onmouseover="nhpup.popup($('#ModelOrder_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> Model Order:</label><font color="#1f2e2e">
        {% if user.is_authenticated %}
          &nbsp;&nbsp; <input id="id_model_Order" min="0" max="8" name="model_Order" type="number" value="0" required />
        {% else %}
          &nbsp;&nbsp; <input id="id_model_Order" min="0" max="4" name="model_Order" type="number" value="0" required />
        {% endif %}
        </font></p>

     <p><label for="id_p_value_cutoff"><a class "testpup" onmouseover="nhpup.popup($('#db_match_p_value_cutoff_Info').html(),{'width':400});" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"style="color:black"></span></a> P-value limit:</label><font color="#1f2e2e">&nbsp;&nbsp;<input id="id_p_value_cutoff" name="p_value_cutoff" type="number" min="0.01" max="3.00" value="0.01" step="0.01"/></font></p>

  </div>
  <hr style="border: 1px solid #1f2e2e">
  <p>
    <button class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e"><font color="white">BaMM!</font></button></p>
  </p>
  </form>
</div>
</div>

<div class="modal fade" id="ModelOrder_Info" tabindex="-1" role="dialog" aria-labelledby="ModelOrder_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
        <p  align="justify">The Model Order describes the maximal higher Order contribution which will be taken into account. The default is 2. A model Order of 0 corresonds to a typical PWM model. </p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="job_name_info" tabindex="-1" role="dialog" aria-labelledby="job_name">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">You can give your job a name to better distinguish between several runs.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MotifInitFile_Info" tabindex="-1" role="dialog" aria-labelledby="MotifInitFile_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">If you already have a PWM or BaMM model which you want to refine insert this file here. Alternatively you can leave this empty and PEnG!motif will seed your input sequence set.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MotifInitFileFormat_Info" tabindex="-1" role="dialog" aria-labelledby="MotifInitFileFormat_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
           <p  align="justify">Please select the file format of your provided motif Initialization. This option is only necessary when providing a custom MotifInitialization.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bgModel_File_Info" tabindex="-1" role="dialog" aria-labelledby="bgModel_File_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
           <p  align="justify">Please select the background file belonging to the selected BaMM file. This option is only necessary when providing a custom BaMM File Initialization.</p>
        </font>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="db_match_p_value_cutoff_Info" tabindex="-1" role="dialog" aria-labelledby="db_match_p_value_cutoff_Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <font color="#0B0719">
            <p  align="justify">The p-value limit will be used to define a threshold for motif matches between the predicted model and the database. </p>
        </font>
      </div>
    </div>
  </div>
</div>


{% endblock %}

