{% extends "home/header.html" %}

{% block content %}

    <div class="container-fluid">

        <div class="jumbotron container-fluid" style="background-color:white"><font color="black">
            <h2> Peng </h2>
            <hr style="border: 1px solid #1f2e2e">
            <div class='container-fluid'>

                <script>
                    function Hide_motifInit() {
                        if (document.getElementById('id_Motif_Initialization').options[document.getElementById('id_Motif_Initialization').selectedIndex].value == "PEnGmotif") {
                            document.getElementById('id_Motif_InitFile').style.display = 'none';
                            document.getElementById('id_Motif_Init_File_Format').style.display = 'none';
                        } else {
                            document.getElementById('id_Motif_InitFile').style.display = '';
                            document.getElementById('id_Motif_Init_File_Format').style.display = '';
                        }
                    }

                    window.onload = function () {
                        document.getElementById('id_Motif_Initialization').default = Hide_motifInit;
                        document.getElementById('id_Motif_Initialization').onchange = Hide_motifInit;
                    };
                </script>


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <p><label for="id_job_name"><a class "testpup"
                        onmouseover="nhpup.popup($('#job_name_info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true" onmouseover="#job_name"
                                style="color:black"></span></a> Job Name:</label></p>
                    <p class="indent" style="padding-left: 1.8em"><input id="id_job_name" maxlength="50" name="job_name"
                                                                         type="text" placeholder="i.e: My Job #1"/></p>

                    {% if mode == 'example' %}
                        <p><label for="id_fasta_file"><a class "testpup"
                            onmouseover="nhpup.popup($('#InputSequence_Info').html(),{'width':400});" ><span
                                    class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                    style="color:black"></span></a> Input Sequences:</label></p>
                        <p class="indent" style="padding-left: 1.8em"> Example Data </p>
                    {% else %}
                        <p><label for="id_fasta_file"><a class "testpup"
                            onmouseover="nhpup.popup($('#InputSequence_Info').html(),{'width':400});" ><span
                                    class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                    style="color:black"></span></a> Input Sequences:</label></p>
                        <p class="indent" style="padding-left: 1.8em"><input id="id_fasta_file"
                                                                             name="fasta_file" type="file"
                                                                             required/></p>
                        <p>  &emsp;<a href="{% url 'peng_predict' mode="example" %}" role="button"> <span
                            class="glyphicon glyphicon-play-circle" aria-hidden="true"> Load Example Data </span></a>
                        </td>
                    {% endif %}

                    {% comment %}
                <p><label for="id_reverse_Complement"><a class "testpup"
                    onmouseover="nhpup.popup($('#ReverseComplement_Info').html(),{'width':400});" ><span
                            class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a>
                    Search on both strands:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                        id="id_reverse_Complement" name="reverse_Complement" type="checkbox" checked/></font></p>
                {% endcomment %}


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
                         style="background-color:white"><font color="black">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne" style="background-color:white"><font
                                    color="black">
                                <h2 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne"
                                       style="background-color:white"><font color="black">
                                        <h3><span class="glyphicon glyphicon-menu-down" aria-hidden="true"
                                                  style="color:black"></span> Advanced Options </h3>
                                    </a>
                                </h2>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne" style="background-color:white"><font color="black">
                                <div class="panel-body">

                                    <!-- <h3> Model Settings:</h3> -->

                    <p class="indent" style="padding-left: 1.8em"><label for="id_pattern_length"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#Pattern_Length_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Pattern Length:</label><font
                            color="#1f2e2e">
                        <input id="id_pattern_length" min="0" max="50" name="pattern_length"
                               type="number" value="10" required/>
                    </font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_bg_sequences"><a class "testpup"
                        onmouseover="nhpup.popup($('#Background_Sequences_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Background Sequences:</label></p>
                    <p class="indent" style="padding-left: 1.8em"><input id="id_bg_sequences"
                                                                         name="bg_sequences" type="file"
                                                                         /></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_zscore_threshold"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#Z-Score_Threshold_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Z-Score Threshold:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_zscore_threshold" min="0" max="25"
                                                               name="zscore_threshold" type="number"
                                                               value="10" required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_count_threshold"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#Count_Threshold_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Count Threshold:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_count_threshold" min="0" max="25"
                                                               name="count_threshold" type="number"
                                                               value="1" required/></font></p>


                    <p class="indent" style="padding-left: 1.8em"><label
                            for="id_iupac_optimization_score"><a class "testpup"
                        onmouseover="nhpup.popup($('#IUPAC_Optimization_Score_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> IUPAC Optimization Score:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<select id="id_iupac_optimization_score"
                                                                name="objective_function"
                                                                type="string"
                                                                required>
                        <option value="LOGPVAL" selected="selected">LOGPVAL</option>
                        <option value="EXPCOUNTS">EXPCOUNTS</option>
                        <option value="MUTUAL_INFO">MUTUAL_INFO</option>
                    </select>
                    </font>
                    </p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_bg_model_order"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#Background_Model_Order_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Background Model Order:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_bg_model_order" min="0" max="25"
                                                               name="bg_model_order" type="number"
                                                               value="2" required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_strand"><a class
                        "testpup" onmouseover="nhpup.popup($('#ReverseComplement_Info').html(),{'width':400});"
                        ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                               style="color:black"></span></a> Search on Both Strands:</label><font color="#1f2e2e">&nbsp;&nbsp;<input
                            id="id_strand" name="strand" type="checkbox" checked/></font>
                    </p>

                    <p class="indent" style="padding-left: 1.8em"><label
                            for="id_enrich_pseudocount_factor"><a class "testpup"
                        onmouseover="nhpup.popup($('#Extend2_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Enrich Pseudocount Factor:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_enrich_pseudocount_factor"
                                                               name="enrich_pseudocount_factor" type="number"
                                                               value="0.005"
                                                               required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_enrich_pseudocount_factor"><a class
                        "testpup"
                        onmouseover="nhpup.popup($('#Enrich_Pseudocount_Factor_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a>
                        Enrich Pseudocount Factor:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                            id="id_enrich_pseudocount_factor" name="enrich_pseudocount_factor" type="checkbox" checked/></font>
                    </p>
                                                               {% endcomment %}

                    <p class="indent" style="padding-left: 1.8em"><label for="id_no_em"><a class "testpup"
                        onmouseover="nhpup.popup($('#EM_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a>
                        EM:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                            id="id_no_em" name="no_em" type="checkbox" checked/></font></p>


                    <p class="indent" style="padding-left: 1.8em"><label for="id_em_threshold"><a class
                        "testpup" onmouseover="nhpup.popup($('#EM_Threshold_Info').html(),{'width':400});"
                        ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                               style="color:black"></span></a> EM Threshold:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_em_threshold" name="em_threshold"
                                                               type="number" value="0.08"
                                                               required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_em_max_iterations"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#EM_Max_Iterations_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> EM Max Iterations:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_em_max_iterations"
                                                               name="em_max_iterations" type="number"
                                                               value="100" required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_no_merging"><a class
                        "testpup"
                        onmouseover="nhpup.popup($('#Merging_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a>
                        Merging:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                            id="id_no_merging" name="no_merging" type="checkbox" checked/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label
                            for="id_bit_factor_threshold"><a class "testpup"
                        onmouseover="nhpup.popup($('#Bit_Factor_Threshold_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> Bit Factor Threshold:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_bit_factor_threshold"
                                                               name="bit_factor_threshold" type="number"
                                                               value="0.4" required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_use_default_pwm"><a class
                        "testpup"
                        onmouseover="nhpup.popup($('#Use_Default_PWM_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a>
                        Use Default PWM:</label><font color="#1f2e2e"> &nbsp;&nbsp;<input
                            id="id_use_default_pwm" name="use_default_pwm" type="checkbox" checked/></font>
                    </p>

                    <p class="indent" style="padding-left: 1.8em"><label for="id_pwm_pseudo_counts"><a
                            class "testpup"
                        onmouseover="nhpup.popup($('#PWM_Pseudo_Counts_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> PWM Pseudo Counts:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_pwm_pseudo_counts"
                                                               name="pwm_pseudo_counts" type="number"
                                                               value="10" required/></font></p>

                    <p class="indent" style="padding-left: 1.8em"><label
                            for="id_em_saturation_threshold"><a class "testpup"
                        onmouseover="nhpup.popup($('#EM_Saturation_Threshold_Info').html(),{'width':400});" ><span
                                class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                style="color:black"></span></a> EM Saturation Threshold:</label><font
                            color="#1f2e2e">&nbsp;&nbsp;<input id="id_em_saturation_threshold"
                                                               name="em_saturation_threshold"
                                                               type="number" value="10000"
                                                               required/></font></p>
                    <br>
            </div>
        </div>
    </div>
    </div>

    <hr style="border: 1px solid #1f2e2e">
    <p>
        <button class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e">
            <font
                    color="white">Peng</font></button>
        &emsp; <a href="{% url 'peng_result_detail' pk='293aae88-6e1e-48ba-ad87-19e7304e0393' %}"
                  role="button"> <span
            class="glyphicon glyphicon-play-circle" aria-hidden="true"> View Example Result </span></a>
    </p>
    </form>

    </div>
    </div>


    <div class="modal fade" id="job_name" tabindex="-1" role="dialog" aria-labelledby="job_name">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">You can give your job a name to better distinguish between several runs.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="InputSequence_Info" tabindex="-1" role="dialog" aria-labelledby="InputSequence_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">The Input Sequence File needs to be of Fasta Format.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Background_Sequences_Info" tabindex="-1" role="dialog"
         aria-labelledby="Background_Sequences_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Insert a file of sequences that reflect the genomic background of your input
                            sequences. Alternatively the genomic background is estimated from your input sequence
                            set.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ReverseComplement_Info" tabindex="-1" role="dialog"
         aria-labelledby="RevverseComplement_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> When checked, the reverse complementary sequences will be used as well for motif search.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Background_Model_Order_Info" tabindex="-1" role="dialog"
         aria-labelledby="Background_Model_Order_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> If
                            searching for a short motif ( up to 4 nucleotides ), the backrgound order should be reduced.
                            Otherwise the motif may already be picked up in the background model and therefore not be
                            treated as significantly enriched motif in the positive search sequences. For longer motifs
                            higher order background models can lead to more precise results. Default is 2.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EM_Info" tabindex="-1" role="dialog" aria-labelledby="EM_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> When checked, Expectation Maximization Optimization will be
                            triggered.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EM_Max_Iterations_Info" tabindex="-1" role="dialog" aria-labelledby="EMmaxIter_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Limit the number of EM optimization iterations.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Pattern_Length_Info" tabindex="-1" role="dialog" aria-labelledby="Pattern_Length_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Length of patterns to be searched.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Z-Score_Threshold_Info" tabindex="-1" role="dialog" aria-labelledby="Z-Score_Threshold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Lower zscore threshold for basic patterns.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Count_Threshold_Info" tabindex="-1" role="dialog" aria-labelledby="Count_Threshold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> lower threshold for counts of basic patterns.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="IUPAC_Optimization_Score_Info" tabindex="-1" role="dialog" aria-labelledby="IUPAC_Optimization_Score_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> select the iupac optimization score.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Enrich_Pseudocount_Factor_Info" tabindex="-1" role="dialog" aria-labelledby="Enrich_Pseudocount_Factor_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> add (enrich_pseudocount_factor x #seqs) pseudo counts in the EXPCOUNTS optimization.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EM_Threshold_Info" tabindex="-1" role="dialog" aria-labelledby="EM_Threshold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> threshold for finishing the em optimization.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Merging_Info" tabindex="-1" role="dialog" aria-labelledby="Merging_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> Turns on the merging.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Bit_Factor_Threshold_Info" tabindex="-1" role="dialog" aria-labelledby="Bit_Factor_Threshold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> bit factor threshold for merging IUPAC patterns.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Use_Default_PWM_Info" tabindex="-1" role="dialog" aria-labelledby="Use_Default_PWM_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> use the default calculation of the ppm.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PWM_Pseudo_Counts_Info" tabindex="-1" role="dialog" aria-labelledby="PWM_Pseudo_Counts_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> number of pseudo-counts for optimization.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EM_Saturation_Threshold_Info" tabindex="-1" role="dialog" aria-labelledby="EM_Saturation_Threshold_Info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify"> saturation factor for em optimization.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
