.jumbotron p.tool_description {
  margin: auto;
  text-align: center;
  font-weight: 350;
  font-size: 18px
}

.jumbotron hr.header_line {
  border: 1px solid #1f2e2e
}

.bamm_box {
  background-color: white
}

.jumbotron div.text_box {
  padding: 10px;
  margin-bottom: 10px
}

.bamm_text {
  font-size: 17px;
}

.jumbotron p.bamm_text {
  font-size: 17px;
}

.workflow_button {
  width: 70%;
  background-color: #4169E1
}

.example_button {
  font-size: 20px;
  word-spacing: -13px
}

.run_button {
  border: 0px;
  background-color: #4169E1;
  color: white;
  font-size: 20px
}

.indented_input_field {
  padding-left: 1.8em
}

.info_icon {
  color: black
}

.advanced_settings_header {
  padding-top: 25px
}

.indented {
  padding-left: 1.8em
}

.advopt_input_font {
  color: #1f2e2e
}

.jumbotron_p_like {
  font-size: 21px
}

.error_block {
  color: #8B0000;
  background-color:rgba(255, 0, 0, 0.2);
  width: 60%;
  padding: 10px 25px 5px 25px;
  margin: 15px;

}

.error_block ul li span {
  font-weight: bold;
}

.nav li a {
  color: #1f2e2e;
}

.popup_msg_format {
  color: #0B0719;
}

.advanced_options_header a:hover {
  text-decoration: none;
}

.settings_box td {
  min-width: 220px
}

.result_image {
  max-width: 400px
}

.motif_button_header td {
  padding-left: 10px;
  padding-right: 10px;
}

.genome_browser_form td {
  padding: 5px;
}

.subheader_toolbar {
  text-align: right;
  margin-bottom: 10px;
}
