{% extends "home/header.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="container-fluid" >

<div class="jumbotron container-fluid" style="background-color:white">
  <h2> Motif scan </h2>
  <hr class="header_line">
  <div class='container-fluid'>

  {% include 'utils/validation_error_box.html' %}

   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      <label for="{{ metajob_form.job_name.id_for_label }}">
        <a class="testpup infopopup" onmouseover="nhpup.popup($('#{{ metajob_form.job_name.html_name }}_info').html(),{'width':400});">
            <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a>
        Job name:
      </label>
    </p>
    <p class="indented">
      {{ metajob_form.job_name|attr:"placeholder:i.e: My Job #1"}}
    </p>


    <p>
      <label for="{{job_form.Input_Sequences.id_for_label}}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.Input_Sequences.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a>
        Input Sequences:
      </label>
    </p>
    {% if mode == 'normal' or mode == 'db' %}
    <p class="advopt_input_font indented">
      <input type="file" onchange="validate_file_size(this, {{ max_file_size }} )"
name="{{ job_form.Input_Sequences.html_name }}" required id="{{ job_form.Input_Sequences.auto_id }}"/>
    </p>
    <p>
      &emsp;
      <a href="{% url 'run_bamm_scan' mode="example" %}" role="button">
        <span class="glyphicon glyphicon-play-circle example_button" aria-hidden="true">
          Load example data
        </span>
      </a>
    </p>
    {% elif mode == 'example' %}
    <p class="indented">
      Example Sequences
    </p>
    {% endif %}


    {% with field=job_form.Motif_Init_File_Format %}
    <p>
      <label for="{{ field.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif format:
      </label>
      <span class="advopt_input_font">
        &nbsp;&nbsp;
        {% if mode == 'normal' %}
        {{ field|attr:"onchange:toggle_visibility(this, 'bg_model_section')" }}
        {% elif mode == 'example' %}
        MEME
        {% elif mode == 'db' %}
        BaMM
        {% endif %}
      </span>
    </p>
    {% endwith %}

    {% with field=job_form.Motif_InitFile %}
    <p>
      <label for="{{ field.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif file:
      </label>
    </p>
    <p class="indented">
      {% if mode == 'normal' %}
      <input type="file" onchange="validate_file_size(this, {{ max_file_size }} )"
name="{{ field.html_name }}" required id="{{ field.auto_id }}" />
      {% elif mode == 'example' %}
      Example motif
      {% elif mode == 'db' %}
      {{ db_entry.filename_prefix }}
      {% endif %}
    </p>
    {% endwith %}

    {% with field=job_form.bgModel_File %}
    {% if job_form.Motif_Init_File_Format.value == 'MEME' or mode == 'example' or mode == 'db' %}
    <div id="bg_model_section" class="jumbotron_p_like" style="display:none">
    {% else %}
    <div id="bg_model_section" class="jumbotron_p_like">
    {% endif %}
      <label for="{{ field.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a>
        Motif background model:
      </label>
      <p class="indented">
        <input type="file" onchange="validate_file_size(this, {{ max_file_size }} )"
name="{{ field.html_name }}" id="{{ field.auto_id }}"/>
      </p>
    </div>
    {% endwith %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="background-color:white">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne" style="background-color:white">
          <p class="panel-title advanced_options_header">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:white">
            <span class="glyphicon glyphicon-menu-down info_icon" aria-hidden="true"></span>
            <span>Advanced options</span>
          </a>
        </p>
        </div>

        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="background-color:white">
        <div class="panel-body">


        <h3 class="advanced_settings_header">General settings</h3>
        <hr />

          {% with field=job_form.reverse_Complement %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});" >
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a>
              Search on both strands:
            </label>
            <span class="advopt_input_font">
               &nbsp;&nbsp;  {{ field }}
            </span>
          </p>
          {% endwith %}

          {% with field=job_form.score_Cutoff %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});" >
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a>
            Motif scanning p-value cutoff:
            </label>
            <span class="advopt_input_font">
              &nbsp;&nbsp;
              {% render_field field min="0" max="0.1" step="0.0001" %}
            </span>
          </p>
          {% endwith %}

          <h3 class="advanced_settings_header">Motif-motif compare</h3>
          <hr />

          {% with field=job_form.MMcompare %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a>
              Run motif-motif compare:
            </label>
            <span class="advopt_input_font">
              &nbsp;&nbsp; {{ field }}
            </span>
          </p>
          {% endwith %}

          {% with field=job_form.motif_db %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a>
              Motif database:
            </label>
            <span class="advopt_input_font">
               &nbsp;&nbsp; {{ field }}
            </span>
          </p>
          {% endwith %}

          {% with field=job_form.e_value_cutoff %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a> E-value cutoff:
            </label>
            <span class="advopt_input_font">
              &nbsp;&nbsp; {{ field|attr:"min:0.01"|attr:"max:3.00" }}
            </span>
          </p>
          {% endwith %}


          <h3 class="advanced_settings_header">Additional settings</h3>
          <hr />

          {% with field=job_form.FDR %}
          <p class="indented">
            <label for="{{ field.id_for_label }}">
              <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
                <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
              </a>
              Run motif evaluation:
            </label>
            <span class="advopt_input_font">
              &nbsp;&nbsp; {{ field }}
            </span>
          </p>
          {% endwith %}

        </div>
    </div>
  </div>

    <hr class="header_line" />
    <p>
      <button class="btn btn-primary btn-lg run_button" type="submit">BaMM!</button>
        &emsp;
        <a href="{% url 'find_results_by_id' pk='00000000-0000-0000-0000-000000000002' %}"  role="button">
          <span class="glyphicon glyphicon-play-circle example_button" aria-hidden="true">
            View example result
          </span>
        </a>
    </p>
    </div>
  </form>
</div>
</div>
</div>

{% for field in all_form_fields %}
<div class="modal fade" id="{{ field.html_name }}_info" tabindex="-1" role="dialog" aria-labelledby="{{field.html_name}}_info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body popup_msg_format">
                    {{ field.help_text }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
