{% extends "home/header.html" %}
{% load i18n %}

{% block content %}



<div class="jumbotron" style="background-color:white"><font color="black">
	<h2> {% trans "Log in" %} </h2>
    <hr style="border: 1px solid #1f2e2e">
    
    
    <form method="post" action=".">
        {% csrf_token %} 
        {{ form.as_p }}
        <br>
        <font color="white"> <input class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e" value="{% trans 'Log in' %}" /></font>
        <input class="form-control" type="hidden" name="next" value="{{ next }}" />
        <br>
    </form>
    <br>
    <p align="justify">{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p align="justify">{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
	</font>
</div>

{% endblock %}
