{% extends "home/header.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron" style="background-color:white"><font color="black">
   <h2> Password reset </h2>
<p> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}
  <font color="white"> <input class="btn btn-primary btn-lg" type="submit" style="border:0px; background-color:#1f2e2e" value="{% trans 'Reset my Password' %}"/></font>

</form>
</div>
{% endblock %}
