{% extends "home/header.html" %}

{% load widget_tweaks %}

{% block content %}


<div class="container-fluid">

<div class="jumbotron container-fluid" style="background-color:white">
  <h2> Motif-motif comparison </h2>
  <hr class="header_line" />
  <div class='container-fluid' onload="">

  {% include 'utils/validation_error_box.html' %}

   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      <label for="{{ metajob_form.job_name.id_for_label }}">
        <a class="testpup infopopup" onmouseover="nhpup.popup($('#{{ metajob_form.job_name.html_name }}_info').html(),{'width':400});">
            <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a>
        Job name:
      </label>
      <p class="indented">
        {{ metajob_form.job_name|attr:"placeholder:i.e: My Job #1"}}
      </p>
    </p>

    {% if mode == 'example' %}
    <p>
      <label for="{{ job_form.Motif_Init_File_Format.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.Motif_Init_File_Format.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif format:
      </label>
      <span class="advopt_input_font">
        &nbsp;&nbsp; MEME
      </span>
    </p>

    <p>
      <label for="{{ job_form.Motif_InitFile.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.Motif_InitFile.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif file:
      </label>
      <p class="indented">
        Example motif
      </p>
    </p>

    {% else %}

    <p>
      <label for="{{ job_form.Motif_Init_File_Format.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.Motif_Init_File_Format.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif format:
      </label>
      <span class="advopt_input_font">
        &nbsp;&nbsp;
      {{ job_form.Motif_Init_File_Format|attr:"onchange:toggle_visibility(this, 'bg_model_section')" }}
      </span>
    </p>

    <div class="jumbotron_p_like">
      <label for="{{ job_form.Motif_InitFile.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.Motif_InitFile.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a> Motif file:
      </label>
      <p class="indented">
        <input type="file" onchange="validate_file_size(this, {{ max_file_size }} )"
name="{{ job_form.Motif_InitFile.html_name }}" required id="{{ job_form.Motif_InitFile.auto_id }}" />
      </p>
      <p>
        <a href="{% url  'run_compare' mode="example" %}" role="button">
          <span class="glyphicon glyphicon-play-circle example_button indented" aria-hidden="true">
            Load example data
          </span>
        </a>
      </p>
    </div>


    {% with field=job_form.bgModel_File %}
    {% if job_form.Motif_Init_File_Format.value == 'MEME' %}
    <div id="bg_model_section" class="jumbotron_p_like" style="display:none">
    {% else %}
    <div id="bg_model_section" class="jumbotron_p_like">
    {% endif %}

      <label for="{{ field.id_for_label }}">
        <a class="testpup" onmouseover="nhpup.popup($('#{{ field.html_name }}_info').html(),{'width':400});">
          <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
        </a>
        Motif background model:
      </label>
      <p class="indented">
        <input type="file" onchange="validate_file_size(this, {{ max_file_size }} )"
name="{{ field.html_name }}" id="{{ field.auto_id }}"/>
      </p>
    </div>
    {% endwith %}

  {% endif %}



        <p>
          <label for="{{ job_form.e_value_cutoff.id_for_label }}">
            <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.e_value_cutoff.html_name }}_info').html(),{'width':400});">
              <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
            </a> E-value cutoff:
          </label>
          <span class="advopt_input_font">
            &nbsp;&nbsp; {{ job_form.e_value_cutoff|attr:"min:0.01"|attr:"max:3.00" }}
          </span>
        </p>

        <p>
          <label for="{{ job_form.motif_db.id_for_label }}">
            <a class="testpup" onmouseover="nhpup.popup($('#{{ job_form.motif_db.html_name }}_info').html(),{'width':400});">
              <span class="glyphicon glyphicon-info-sign info_icon" aria-hidden="true"></span>
            </a>
            MMcompare motif database:
          </label>
          <span class="advopt_input_font">
             &nbsp;&nbsp; {{ job_form.motif_db }}
          </span>
        </p>


  <hr class="header_line">

  <span>
    <button class="btn btn-primary btn-lg run_button" type="submit">
      BaMM!
    </button>
     &emsp;
    <a href="{% url 'find_results_by_id' pk='00000000-0000-0000-0000-000000000003' %}"  role="button">
      <span class="glyphicon glyphicon-play-circle example_button" aria-hidden="true">
        View example result
      </span>
    </a>
  </span>

  </form>
    </div>
</div>
</div>

{% for field in all_form_fields %}
<div class="modal fade" id="{{ field.html_name }}_info" tabindex="-1" role="dialog" aria-labelledby="{{field.html_name}}_info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <font color="#0B0719">
                    {{ field.help_text }}
                </font>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
