{% extends "home/header.html" %}

{% block content %}
{% load static %}


<div class="jumbotron" style="background-color:white"><font color="black">
 <h2> BaMMmotif database details for " {{entry.target_name}} "</h2>
    <hr style="border: 1px solid #1f2e2e">
      <div class="well" style="background-color:white" id="{{entry.target_name}}">
        <h2>Database entry information:</h2>
        <hr style="border: 1px solid #1f2e2e">
        <table>
           <tr>
                <td> &emsp; Protein / Target name: </td>
                <td> &emsp; {{entry.target_name}} </td>
            </tr>
            <tr>
                <td> &emsp; Cell type: </td>
                <td> &emsp; {{entry.cell_type}} </td>
            </tr>
            <tr>
                <td> &emsp; Experiment: </td>
                <td> &emsp; {{entry.parent.experiment}} </td>
            </tr>
            <tr>
                <td> &emsp; Lab : </td>
                <td> &emsp; {{entry.lab}} </td>
            </tr>
            <tr>
                <td> &emsp; Grant: </td>
                <td> &emsp; {{entry.grant }} </td>
            </tr>
            <tr>
                <td> &emsp; Data source: </td>
                <td> &emsp; {{entry.parent.data_source}} </td>
            </tr>
            <tr>
                <td> &emsp; Species: </td>
                <td> &emsp; {{entry.parent.species}} </td>
            </tr>
            
        </table>
        </font>
        <br>    
        <!--<td>  &emsp; <a href="{% url 'run_bamm_scan' mode="db" pk=entry.db_public_id %}" role="button"> <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> USE THIS MODE FOR MOTIF SEARCH  </span></a> </td>-->
    </div>
    </font>
</div>


  <div class="jumbotron" style="background-color:white"><font color="black">

  <div class="well" style="background-color:white">



    <form action="{% get_static_prefix %}{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_complete.zip" method="get" target="_blank">
        <h2> Predicted higher order model &emsp;
          <button type="submit" class="btn btn-default" aria-label="Download" >
             <span class="glyphicon glyphicon-download" aria-hidden="true"> DOWNLOAD MODEL</span> 
           </button>

         </h2>
       </form>

       
    <hr style="border: 1px solid #1f2e2e">
    <img src="{% get_static_prefix %}{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1-logo-order-0_revComp.png" class="responsive-img" style='max-height:300px;' alt="0-th order logo; reverse Complement">
    {% for i in "012" %}
        <img src="{% get_static_prefix %}{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1-logo-order-{{i}}.png" class="responsive-img" style='max-height:300px;' alt="{{i}}-th order logo">
    {% endfor %}
            <br>
            <br>
    <h2> Performance and positional distribution on input sequences </h2>
        <hr style="border: 1px solid #1f2e2e">
        <img src="{% get_static_prefix %}/{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1_SFC.jpeg" class="responsive-img" style='max-height:400px;' alt="AUSFC curve"> &emsp;
        <img src="{% get_static_prefix %}/{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1_pROC.jpeg" class="responsive-img" style='max-height:400px;' alt="partiacl ROC5 curve">
        <img src="{% get_static_prefix %}/{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1_PRC.jpeg" class="responsive-img" style='max-height:400px;' alt="Precision Recall Curve"> &emsp;
        <img src="{% get_static_prefix %}/{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1_distribution.jpeg" class="responsive-img" style='max-height:400px;' alt="Positional Ditsribution"> &emsp;
        <br>
        <br>
 </div>
</font>

<div class="well" style="background-color:white">
    <h2>BaMMmotif settings </h2>
    <hr style="border: 1px solid #1f2e2e">
        <h3>Model settings</h3>
        <table>
            <tr>
                <td>  &emsp; Model order: </td>
                <td>  &emsp; {{entry.parent.modelorder}}</td>
            </tr>
            <tr>
                <td>  &emsp; Add flanking positions: </td>
                <td>  &emsp; {% widthratio entry.parent.extend_1 1 2 %} </td>
            </tr>
            <tr>
                <td>  &emsp; Search on both strands: </td>
                <td>  &emsp; {{entry.parent.reversecomp}}</td>
            </tr>
        </table>

        <h3>Background model</h3>
        <table>
            <tr>
                <td>  &emsp; Background order: </td>
                <td>  &emsp; {{entry.parent.bgmodelorder}}</td>
            </tr>
        </table>
        
        {% if entry.parent.EM == 1 %}
        <h3>Expectation maximization optimization</h3>
        <table>
            <tr>
                <td>  &emsp; Motif prior probability: </td>
                <td>  &emsp; {{entry.parent.q_value}}</td>
            </tr>
        </table>
        {% endif %}

        {% if entry.parent.CGS == 1%}
        <h3>Collapsed Gibbs sampling:</h3>
        <table>
            <tr>
                <td>  &emsp; sampling alphas: </td>
                <td>  &emsp; {{entry.parent.noalphasampling|yesno:"False,True"}}</td>
            </tr>
            <tr>
                <td>  &emsp; max iterations: </td>
                <td>  &emsp; {{entry.parent.maxcgsiterations}}</td>
            </tr>
        </table>
        {% endif %}
        
</div>
</div>


{% endblock %}






