{% extends "home/header.html" %}

{% block content %}

<div class="jumbotron" style="background-color:white">
     <h2>Welcome to the BaMMmotif database</h2>
     <hr style="border: 1px solid #1f2e2e">
     {% if warning %}
        <p> <font color="#B22222">No database entry found.</font></p>
      {% endif %}
     <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
	<p><label for="{{ form.database.id_for_label}}"><a class "testpup"
             onmouseover="nhpup.popup($('#DBselectorInfo').html(),{'width':400});"><span
             class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:black"></span></a>
             Motif Database</label><font color="#1f2e2e"> &nbsp;&nbsp; {{ form.database }} </font>
    	</p>

	<p>
		<label for="id_db_ID"><font size=3>Please enter the name of your protein of interest:</label> &nbsp; 
		<input id="id_db_ID" maxlength="255" name="search_term" type="text" placeholder="i.e: CTCF ..."/> </font>&nbsp;
	</p>
	<span>
        	<button class="btn btn-primary btn-lg run_button" href="{% url 'maindb' %}" role="button" type="submit">Search by keyword</button>
		<span style="font-size:18px; font-weight:bold;padding:10px"> or </span> 	
        	<button class="btn btn-primary btn-lg run_button" name="browse_button" value="clicked" href="{% url 'maindb' %}" role="button" type="submit">Browse all models</button>
	</span>
    </form>    

 <div class="modal fade" id="DBselectorInfo" tabindex="-1" role="dialog" aria-labelledby="DBselectorInfo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <font color="#0B0719">
                        <p align="justify">Motif database to search against.</p>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

