{% extends "home/header.html" %}

{% block content %}
{% load static %}


<div class="jumbotron" style="background-color:white"><font color="black">
		<h2> Results for: {{protein_name}} </h2>
  <hr style="border: 1px solid #1f2e2e">
 <h4> {{db_entries.count}} entries found: </h4>
     <div>
        <table class="table table-hover">
        <tr >
            <th>  Entry #      </th>
            <th> Target name   </th>
            <th> Sequence logo </th>
            <th> reverse Comp. </th>
            <th> Cell type     </th>
            <th> Experiment    </th>
            <th> Lab           </th>
            <th> Grant         </th>
            <th> Data source   </th>
            <th> Species       </th>
            <th> Details       </th>
        </tr>
        {% for entry in db_entries %}
        <tr>
            <td> {{ forloop.counter           }} </td>
            <td> {{ entry.target_name         }} </td>
            <td> <img src="{% get_static_prefix %}{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1-logo-order-0_stamp.png" style='max-height:90px;' alt=""> </td>
            <td> <img src="{% get_static_prefix %}{{db_location}}/{{entry.result_location}}/{{entry.result_location}}_motif_1-logo-order-0_stamp_revComp.png" class="responsive-img" style='max-height:90px;' alt=""></td>     
            <td> {{ entry.cell_type|default:"unknown"           }} </td>
            <td> {{ entry.parent.experiment|default:"unknown"   }} </td>
            <td> {{ entry.lab|default:"unknown"                 }} </td>            
            <td> {{ entry.grant|default:"unknown"               }} </td>
            <td> {{ entry.parent.data_source|default:"unknown"  }} </td>
            <td> {{ entry.motif_db.organism|default:"unknown"      }} </td>
            <td> <a href="{% url 'db_detail' entry.motif_id %}" role="button"> more...</a> </td>
        </tr>
       {% endfor %}
        </table>
    </div>
</div>

{% endblock %}






